:root {
    --off-white-color: #FAF9F6;
}



body {
    padding-top: 72px;
    background-color: var(--off-white-color);
    min-height: 100vh;
}


/* nav */
.nav-link:hover {
    border-bottom: 1px solid #fff;
}

.navbar-brand:hover {
    filter:brightness(1.2);
}


/* Navegador */
.navegador {
    height: 72px;
}

.navegador h1 {
    text-align: center;
}

.flecha-link {
    padding: 5px 13px;
    border-radius: 50%;
}

.flecha-link:hover {
    background-color: #0dcaf0;
}


/* Filtros checkbox */
input[type="checkbox"]:checked{
  background-color: #0dcaf0;
  color: #fff;
}


/* Cards */
.img {
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: 12rem;
    object-fit:cover;
    transition: transform 0.2s ease;
}

.card:hover img {
    transform: scale(1.03);
}


.card a {
    background-color: #dd0269;
    color: white;    
}

.card a:hover {
    border-color: #dd0269;
}


/* Details */
.img-detail {
    max-width: 40rem;
    overflow: hidden;
}

.card-detail {
    color: var(--off-white-color);
    background-color:rgb(218, 2, 104);
}

.card-detail-body {
    max-width: 40rem;
}

.detail-data span{
    font-weight: bold;
}


/* CONTACT */
.formulario {
    flex-basis: 576px;
}


/* STATS */
.tabla-stats {
    flex-basis: 1024px;
}


/* FOOTER */
footer {
    border-radius: 10% 10% 0 0 ;
    position: sticky;
    top: 100%;
}

.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.sombra {
    box-shadow: 10px 10px 5px lightblue inset;
}

.facebook {
    color: #1877f2;
}

.whatsapp {
    color: #25d366;
}

.social-icon {
    display: inline-block;
    width:40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    line-height: 37px;
    text-align: center;
    font-size: 32px;
    transition: filter 0.3s ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
    filter: brightness(1.4);
}